<h2>EPI Memory</h2>
<p>
	EPI Memory est né d'un constat simple: quand une nouvelle promo arrive à EPITECH, il est difficile de se souvenir tout de suite du login de tout le monde.<br />
	Pour ne pas avoir à demander à chaque fois aux étudiants leur login, il faut les mémoriser... Et pour cela, quoi de mieux qu'un jeu ?
</p>
<p>
	EPI Memory est écrit en javascript et utilise l'excellent framework <a href="http://angularjs.org">angularjs</a>. Un petit backend en php permet de récupérer les données de manière authentifiée, afin de ne pas rendre publiques les infos aspirées sur l'intra (liste des logins).
</p>

<h2>À propos de moi</h2>
<p>
	Je suis <a href="http://gael.name">Gael du Plessix</a> (<a href="https://intra.epitech.eu/user/jochau_g">jochau_g</a>). Je suis étudiant à EPITECH et j'ai été AER durant ma tek3, ce qui m'a notamment donné l'idée de créer ce jeu.<br />
	Depuis que j'ai découvert AngularJs, je crée des web apps pour un peu tout et n'importe quoi... Voici une liste des dernières que j'ai pu faire:
	<div ng-include="'/apps-list.html'"></div>
</p>